# para instalar as dependências é necessário que execute o seguinte comando: pip install -r requirements.txt

Django==3.1.7         # INSTALAÇÃO DO DJANGO.
Pillow==8.2.0           # PARA UTILIZAR O IMAGEFIELD
pylint==2.7.4           # UTILIZADO PARA VERICAÇÃO DE ERROS
pylint-django==2.4.3    # UTILIZADO PARA VERICAÇÃO DE ERROS
