{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
      body{
        background-color:#FBFBFB;
      }
      .home {
        height: 110vh;
        background: url(../static/images/background-blog.svg) no-repeat;
        background-size: 100%;
      }
    </style>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <title>Blog</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'partials/menu.html' %}

      <div class="inicio">
        <h1>
          <strong>BLOG</strong>
        </h1>
      </div>
    </div>
    <div>
      <div class="links">
        <a href="{% url 'index' %}">Início</a>>><a href="{% url 'blog' %}">Ver Blog</a>
      </div>
      <!-- campo de busca -->
        <form action="{% url 'buscar' %}">
          <div class="busca">
            <input
              type="text"
              type="search"
              class="txtBusca"  
            />    
          <button class="butao" type="submit">
            <img src="{% static 'images/busca.svg' %}" id="btnBusca" alt="Buscar" />
          </button>
        </form>
        
      </div>
      <!-- fim do campo de busca -->
    </div>

    <!-- Postes -->
    <div class="blog container">
      <div class="row">
        <!-- exibindo os postes -->
        {% if postes %}
        {% for bloguinho in postes %}
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="blog1">
            <img src="{{bloguinho.image_blog.url}}" />
            <a href=""
              ><h3>
                {{bloguinho.descricao_blog}}
              </h3></a
            >
            <h6>Por {{bloguinho.autor}}</h6>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h1>Não há postes para essa busca</h1>
        </div>    
        {% endif %}
      </div>
      <!-- Paginação propriamente dita -->
      {% if postes.has_other_pages %}
      <div class="paginador">
        <ul>
          <img src="{% static 'images/lileft.svg' %}" />
          {% if postes.has_previous %}
          <li><a href="?page={{ postes.previous_page_number }}"></a></li>
          {% else %}
          <li><a>&laquo;</a></li>
          {% endif %}
          {% for pagina in postes.paginator.page_range %}
          {% if postes.number == pagina %}
          <li><a>{{pagina}}</a></li>
          {% else %}
          <li><a href="?page={{pagina}}">{{pagina}}</a></li>
          {% endif %}
          {% endfor %}
          {% if postes.has_next %}
          <li><a href="?page={{postes.next_page_number}}">&raquo;</a></li>
          {% else %}
          <li><a>&raquo;</a></li>
          {% endif %}
          <img src="{% static 'images/liright.svg' %}" alt="" />
        </ul>
      </div>
      {% endif %}
      <!-- fim da paginação -->
    </div>
{% endblock %}